<div class="modal fade" id="popCreate" tabindex="-1" role="dialog" aria-labelledby="popCreate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="w-50 mx-auto">
                <form method="post" data-ng-submit="createArticle(article)">
                    <div class="form-group mx-auto pb-4">
                        <div class="modal-header text-center">
                            <p class="h4 text-success font-weight-bold mt-4">CREATE
                                ARTICLE</p>
                        </div>
                        <input type="text" class="form-control my-3" placeholder="Name" data-ng-model="article.name"
                            required>
                        <input type="text" class="form-control mt-3" placeholder="Price" data-ng-model="article.price"
                            required><br>
                        <input type="text" class="form-control" placeholder="Quantity" data-ng-model="article.quantity"
                            required><br>
                        <div class="input-group">
                            <select class="custom-select" data-ng-model="article.unit" required>
                                <option value="ml">ml</option>
                                <option value="g">g</option>
                            </select>
                        </div>
                        <input type="text" class="form-control mt-3" placeholder="Description"
                            data-ng-model="article.description" required><br>
                        <button type="submit"
                            class="btn btn-outline-success font-weight-bold btn-block">CONFIRM</button>
                        <button type="button" class="btn btn-outline-secondary btn-block font-weight-bold"
                            data-dismiss="modal">CLOSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>