<div class="modal fade" id="popCompleteOrder" tabindex="-1" role="dialog" data-ng-controller="orderCtrl"
    data-ng-if="currentNumberOfArticles > 0" aria-labelledby="popCompleteOrder" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div data-ng-controller="orderCtrl" data-ng-if="buyerOnly">
                <div class="frame mx-auto p-4">
                    <table class="table table-light text-dark table-striped text-center mb-4 mr-2 w-100">
                        <tr class="thead-dark">
                            <th>Articles</th>
                            <th>Portion</th>
                            <th>Number of<br /> portions</th>
                        </tr>
                        <tr data-ng-repeat="article in articles">
                            <td>
                                {{article.name}}
                            </td>
                            <td>
                                {{article.quantity}} {{article.unit}}
                            </td>
                            <td>
                                {{article.nop}}
                            </td>
                        </tr>
                    </table>
                    <div class="form-group ml-2">
                        <label for="exampleTextarea" class="font-weight-bold text-dark">Note</label>
                        <textarea class="form-control w-100" id="note" rows="3" data-ng-model="order.note"></textarea>
                    </div>
                    <div class="mx-auto w-25">
                        <button class="btn btn-success btn-block text-white font-weight-bold"
                            data-ng-click="completeOrder(order)">
                            COMPLETE
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-block font-weight-bold mt-2"
                            data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>