<div data-ng-controller="userCtrl" data-ng-show="buyerOnly">
	<section class="intro">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="text-center">
						<p class="h4  text-info font-weight-bold my-4">HISTORY OF ORDERS</p>
					</div>
					<table class="table table-active table-dark text-info table-striped  table-hover mx-4 my-4">
						<tr class="thead-dark">
							<th>Date of order</th>
							<th>Articles</th>
							<th>Note</th>
						</tr>
						<tr data-ng-repeat="o in myOrders">
							<td>
								{{o.dateOfOrder}}
							</td>
							<td>
								<ul>
									<li data-ng-repeat="a in o.article"> {{a.nop}}x {{a.name}} </li>
								</ul>
							</td>
							<td>
								{{o.note}}
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="text-center">
						<p class="h4  text-danger font-weight-bold my-4">FAVOURITE RESTARAUNTS</p>
					</div>
					<div class="container">
						<table class="table table-active table-striped	table-dark text-danger table-hover">
							<tr class="thead-dark">
								<th>Name</th>
								<th>Address</th>
								<th>Category</th>
							</tr>
							<tr data-ng-repeat="r in myFavourites">
								<td>
									{{r.name}}
								</td>
								<td>
									{{r.address}}
								</td>
								<td>
									{{r.category}}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>