<div data-ng-controller="userCtrl">
  <form method="post" data-ng-submit="signup(user)">
    <div class="text-center">
      <p class="h4  text-dark font-weight-bold my-4">REGISTRATION</p>
      <i class="fas fa-user-plus icon-large"></i>
    </div>
    <div class="form-group mx-auto w-25">
      <input type="text" class="form-control my-3" placeholder="Username" data-ng-model="user.username" required />
      <input type="password" class="form-control mb-3" placeholder="Password" data-ng-model="user.password" required />
      <input type="text" class="form-control my-3" placeholder="First Name" data-ng-model="user.firstName" required />
      <input type="text" class="form-control mb-3" placeholder="Last Name" data-ng-model="user.lastName" required />
      <input type="email" class="form-control mb-3" placeholder="Email" data-ng-model="user.email" required />
      <input type="tel" class="form-control mb-3" placeholder="Mobile Phone" data-ng-model="user.phone" required />
      <button type="submit" class="btn btn-outline-dark btn-block font-weight-bold">
        SIGN UP
      </button>
    </div>
    <div class="text-center mx-auto">
      <p class="h6  text-dark my-4">Already a member?</p>
      <a class="btn btn-dark font-weight-bold" href="#signin" role="button">
        SIGN IN
      </a>
    </div>
  </form>
  <div data-ng-include="'parts/message-error.html'"></div>
</div>